*{
    box-sizing: border-box;
    overflow: hidden;
    font-family: '標楷體';
}
.main{
    display: flex;
    width:1024px;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 12px;
    margin: 0 auto;
}
body>*:not(.aside , .section),
aside>*,
section>*{
    border: 1px solid lightgray;
}
/*.top , .footer , .menu , .update , .marquee , .content{
    border: 1px solid lightgray;
} */
.top{
    flex-basis: 1000px;
    height: 65px;
}
/*left*/
.aside{
    display: flex;
    flex-direction: column;
    flex-basis: 215px;
    height: calc(768px - 65px - 20px);
}

.menu{
    flex-basis: calc(100% - 25px);
}
.menu-header{
    /*社團介紹*/
    font-weight: 500;
    font-size: 24px;
    color: #FF00FF;
    text-decoration: underline;
    text-decoration-color: black;
    text-underline-offset: 6px;
    text-align: center; 
    margin: 20px auto;       
}
.menu>a{
    display: block;
    margin: 10px auto;
    text-decoration: none;
    width: 200px;
    height: 35px;
    background-image: url("../images/menu1.png");
    background-repeat: no-repeat;
    /*background: url("../images/menu1.png") no-repeat;*/
    padding-top: 10px;
    font-size: 16px;
    color: #000000;
}
#menuBtn{
    text-decoration: underline;
}
.menu>a:hover{
    background-image: url("../images/menu2.png");
    background-repeat: no-repeat;
}
.update{
    flex-basis: 25px;
    color: #000000;
    text-align: center;
    font-size: 16px;
}
iframe{
    width: 100%;
    height: 100%;
}
/*right*/
.section{
    display: flex;
    flex-direction: column;
    flex-basis:calc(1000px - 215px);
}
.marquee{
    flex-basis: 29px;
    font-size: 24px;
    color: #0000ff;
}
.content{
    flex-basis: calc(100% - 29px);
}
.footer{
    flex-basis: 1000px;
    height: 20px;
    font-family: '標楷體';
    color:#000000;
    text-align: center;
    font-size: 16px;
}